
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i>&nbsp;@User.Identity.Name
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var tenant in User.Tenants())
        {
            @if (Context.Request.RouteValues["tenant"].ToString().Equals(tenant, StringComparison.OrdinalIgnoreCase))
            {
                <div class="dropdown-item">
                    @tenant &nbsp;<i class="far fa-check-circle"></i>
                </div>
            }
            else
            {
                <a class="dropdown-item" asp-route-tenant="@tenant">@tenant</a>
            }
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a>
    </div>
</div>