@model MultiTenancy.Web.Models.Home.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <div class="alert alert-info">
                <p>
                    Sign in as:<br />
                </p>
            </div>

            <!-- Login Form -->
            <form method="post">
                <input type="submit" name="@Html.NameFor(model => model.Username)" value="Single" />
                <input type="submit" name="@Html.NameFor(model => model.Username)" value="Multi" />
            </form>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>